<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/style.css">
  </head>

  <body>
    <div class="container-fluid">
      <div class="col-lg-6 col-md-6 col-sm-9 col-xs-12">
        <h1>What Are My Flatiron School <br />Friends Up To This Week?</h1>

        <% @events.each do |date, events| %>
          <h3><%= date.strftime("%A, %B %d, %Y") %></h3>
            <ul>
            <% events.each do |event| %>
              <p>&#9642; <a href="<%= event.url %>" target="_blank" style="color: rgb(<%= event.group.color %>); font-size: <%= event.font_size %>px; line-height: 1;"/>
                <%= event.name %></a>
              </p>
            <% end %>
            </ul>
        <% end %>

        <form action="/" method="GET">
          <button type="submit" class="btn btn-default btn-lg">Get more events</button>
        </form>

        </br>
        <p class="footer">Created by <a href="https://github.com/natalieparellano" target="_blank">Natalie Arellano</a> and <a href="http://www.thisisvanessa.com" target="_blank">Vanessa Dean</a> at the <a href="http://flatironschool.com/" target="_blank">Flatiron School</a>.</p>
      </div>

      <!--/////////// Group Key //////////-->
      <div id="key" class="col-lg-6 col-md-6 col-sm-3 col-xs-12">

        <h2>Meetup Groups</h2>

        <% @groups.each do |group| %>
          <h4><a href="http://www.meetup.com/<%= group.urlname %>/" target="_blank" style="color: rgb(<%= group.color %>)">
            <%= group.name %></a>
          </h4>
        <% end %>

      </div>
      <!--/////////// End //////////-->
    </div>
  </body>
</html>

