<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/style.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style> 
    h1{ margin-bottom: 40px; }
    #key { position: fixed; top: 0px; right: 10px; bottom:0px; margin-top: 8px; width: 25%; overflow: scroll; }
    p { font-size: 20px; }
    form { margin-top: 15px; }
    ul { list-style-type: square; }
    .footer { font-size: 14px; }
    </style>
  </head>

  <body>
    <div class="container-fluid">

      <div class="col-lg- col-md-8 col-sm-8 col-xs-8">
        <h1>What Are My Flatiron School <br />Friends Up To This Week?</h1>

        <% @dates.each do |date| %>
          <h3><%= date.nice_format %></h3>
          <ul>
            <% date.events.each do |event| %>
              <li>
                <a href="<%= event.url %>" target="_blank" style="color: rgb(<%= event.group.color %>); font-size: <%= event.group.font_size %>px; "/>
                <%= event.name %></a>
                <br>
              </li>
            <% end %>
          </ul>
        <% end %>   
        <form action="/events" method="POST">
          <button type="submit" class="btn btn-default btn-lg">Get more events?</button>
        </form>
        <br />
        <p class="footer">Created by <a href="https://github.com/natalieparellano">Natalie Parellano</a> and <a href="http://www.thisisvanessa.com">Vanessa Dean</a>.</p>
      </div>

      <!--/////////// Group Key //////////-->
      <div id="key">

        <h2>Meetup Groups<h2>

        <% @groups.each do |group| %>
          <p><a href="http://www.meetup.com/<%= group.urlname %>/" target="_blank" style="color: rgb(<%= group.color %>)">
            <%= group.name %></a>
          </p>
        <% end %>

      </div>
      <!--/////////// End //////////-->
      
    </div> 
  </body>
</html>

