<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container-fluid">
    <h1>Meetup Events This Week</h1>
    <ul>
      <% @events.each do |event| %>
        <p>Date: <%= event.date %></p>
        <p><a href="<%= event.url %>" target="_blank" style="color: rgb(<%= event.group.color %>); font-size: <%= event.group.font_size %>px; line-height:0.9"/>
        <%= event.name %> - <%= event.group.name %></p></a>
      <% end %>
    </ul>

    <form action="/events" method="POST">
    <button type="submit" class="btn btn-default">Sample more?</button>
    <br />
    <br />
    .
    </form>

    </div>
  </body>
</html>

